node_modules/
dist/
build/
/.env
.env.local
.DS_Store
.vscode/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
pnpm-lock.yaml
/.idea/
coverage/
/.parcel-cache/
__pycache__/
*.lognode_modules
.DS_Store
.env
.env.local
dist
build
.vscode

